<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FMWSaveManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FMWSaveManager.Properties.Settings>
            <setting name="EntityUnitSort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EntityCharSort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NGPlusUnitSort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NGPlusCharSort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToggleItemNameUnit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToggleItemNameEditor" serializeAs="String">
                <value>False</value>
            </setting>
        </FMWSaveManager.Properties.Settings>
    </userSettings>
</configuration>